
.conditions-block-title{
  color: #000;
  font-size: 14px;
  font-weight: 600;
}

.conditions-list{
  font-size: 13px;
}

.conditions-block{
  list-style: none;
  padding-left: 0;
}

.conditions-block li::before{
  content: "•";
  color: black;
  font-weight: bold;
  display: inline-block;
  width: 16px;
}

/* белый */

.conditions-block-title-registration{
  color: #fff;
  font-size: 16px;
  font-weight: 600;
}

.conditions-list-registration{
  font-size: 14px;
  color: #fff;
}

.conditions-block-registration{
  list-style: none;
  padding-left: 0;
}

.conditions-block-registration li::before{
  content: "•";
  color: #fff;
  font-weight: bold;
  display: inline-block;
  width: 16px;
}