.main-account-block {
  display: flex;
}

.left-content {
  width: 230px;
}

.setting-config-block {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border-left: 4px solid #005bc8;
  border-bottom: 2px solid #b3b3b3;
  width: 100%;
  height: 84px;
  gap: 10px;
  box-sizing: border-box;
}

.setting-config-block p {
  font-size: 16px;
  font-weight: 500;
  color: #000;
}

.right-content {
  display: flex;
  flex-direction: column;
  gap: 32px;
  background-color: #fff;
  max-width: 900px;
  width: 100%;
  padding: 48px;
  border-bottom: 2px solid #525252;
  box-sizing: border-box;
}

@media (max-width: 1024px) {
  .main-account-block {
    flex-direction: column;
    width: 100%;
  }

  .left-content {
    width: 100%;
  }

  .setting-config-block {
    justify-content: flex-start;
    padding: 0 20px;
    height: 60px;
    border-left: none;
    border-bottom: 1px solid #b3b3b3;
  }

  .setting-config-block p {
    font-size: 15px;
  }

  .right-content {
    padding: 20px;
    gap: 20px;
    max-width: 100%;
    border-bottom: none;
  }
}

@media (max-width: 576px) {
  .right-content {
    padding: 15px;
    gap: 15px;
  }
}
