.widget-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #000;
  color: #fff;
  padding: 14px 20px;
  gap: 15px;
}

.widget-container a {
  display: flex;
  align-items: center;
  gap: 16px;
  text-decoration: none;
  color: #fff;
  transition: transform 0.2s ease-in-out;
}

.widget-container a:hover {
  transform: scale(1.02);
}

.widget-container img {
  width: 60px;
  height: 60px;
  border-radius: 12px;
}

.widget-container h3 {
  font-size: 1.1rem;
  font-weight: 700;
}

.widget-container p {
  font-size: 0.9rem;
  color: #ddd;
}
