
.logo-img {
  width: 112px;
  height: 32px;
  cursor: pointer;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo-header {
  display: flex;
  align-items: center;
  gap: 20px;
}

.central-navigation-block {
  display: flex;
  gap: 40px;
}

.user-text {
  display: flex;
  align-items: center;
  min-width: 136px;
  position: relative;
  cursor: pointer;
  gap: 5px;
}

.right-header-content {
  display: flex;
  align-items: center;
  gap: 15px;
}

.three-point-button {
  background: none;
  color: black;
  font-weight: 500;
  font-size: 34px;
  border: none;
  cursor: pointer;
}

.button-content {
  display: flex;
  align-items: center;
  gap: 5px;
  background-color: rgb(240, 240, 240);
  padding: 12px;
  width: 214px;
  cursor: pointer;
}

.search-button {
  font-weight: 600;
  background: none;
  border: none;
  cursor: pointer;
}

.navigation-text {
  font-weight: 600;
  position: relative;
  cursor: pointer;
}

.navigation-text::after {
  content: "";
  position: absolute;
  top: 25;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: black;
  transition: width 0.2s ease-in-out;
}

.user-text::after {
  content: "";
  position: absolute;
  left: 0;
  top: 35;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: rgb(75, 75, 207);
  transition: width 0.2s ease-in-out;
}

.navigation-text:hover::after,
.user-text:hover::after {
  width: 100%;
}

.right-user-border {
  border: 1px solid grey;
  width: 1px;
  height: 24px;
}

.button-content:hover {
  background-color: #e6e8ea;
}

.header-link{
  text-decoration: none;
  color: black;
  font-weight: 600;
}