.auth-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 32px;
  width: 100%;
  padding: 0 20px;
}

.auth-page {
  display: flex;
  min-height: 100vh;
  max-width: 650px;
  margin: 0 auto;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.auth-title {
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: center;
}

.auth-logo {
  width: 100%;
  max-width: 140px;
  max-height: 40px;
  height: 100%;
  cursor: pointer;
}

.sign-into-text {
  font-size: 32px;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  text-align: center;
}

.enter-email-text {
  font-size: 28px;
  color: #fff;
}

.input-wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: relative;
  width: 100%;
}

.data-user-input,
.auth-form-input {
  outline: none;
  background: none;
  border: none;
  border-bottom: 1px solid #fff;
  width: 100%;
  max-width: 650px;
  height: 50px;
  font-size: 20px;
  color: #fff;
  padding: 10px 0;
}

.data-user-input::placeholder,
.auth-form-input::placeholder {
  color: rgb(173, 173, 173);
  font-size: 25px;
  transition: all 0.3s ease;
}

.data-user-input:focus::placeholder,
.auth-form-input:focus::placeholder {
  transform: translateY(-20px);
  font-size: 15px;
  color: #ffffff;
}

.form-button {
  color: #fff;
  background-color: #0071f1;
  max-width: 650px;
  height: 50px;
  font-size: 18px;
  cursor: pointer;
  transition: transform 0.5s ease;
  width: 100%;
}

.form-button:hover {
  background-color: #065cbe;
  transform: scale(1.02);
}

.auth-form-block {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
}

.auth-link:visited,
.auth-link {
  text-decoration: underline;
  color: #3092ff;
  max-width: 200px;
}

.auth-link-block {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.registration-route-link-block {
  display: flex;
  flex-direction: column;
  padding: 32px 0;
  border-top: 1px solid #fff;
  align-items: center;
  text-align: center;
  width: 100%;
}

.sign-into-discripton,
.registration-route-link-title {
  color: #fff;
  font-size: 20px;
}

@media (max-width: 680px) {
  .auth-page {
    padding: 0 15px;
    align-items: flex-start;
    padding-top: 100px;
  }

  .auth-content {
    gap: 25px;
    padding: 0;
  }

  .auth-title {
    gap: 20px;
  }

  .sign-into-text {
    font-size: 28px;
  }

  .data-user-input,
  .auth-form-input {
    font-size: 18px;
  }

  .data-user-input::placeholder,
  .auth-form-input::placeholder {
    font-size: 20px;
  }

  .form-button {
    font-size: 16px;
    height: 45px;
  }

  .sign-into-discripton,
  .registration-route-link-title {
    font-size: 18px;
  }
}

@media (max-width: 480px) {
  .sign-into-text {
    font-size: 14px;
  }

  .data-user-input,
  .auth-form-input {
    font-size: 16px;
    height: 40px;
  }

  .data-user-input::placeholder,
  .auth-form-input::placeholder {
    font-size: 18px;
  }

  .form-button {
    font-size: 15px;
    height: 40px;
  }

  .registration-route-link-block {
    padding: 20px 0;
  }

  .sign-into-discripton,
  .registration-route-link-title {
    font-size: 16px;
  }

  .auth-link-block {
    align-items: center;
    font-size: 12px;
  }
}
