@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap");

* {
  padding: 0px;
  margin: 0px;
  border: none;
  box-sizing: border-box;
  font-family: "Inter", serif;
}

body {
  overflow-x: hidden; 
  width: 100%;
}
