.add-wrapper {
  display: flex;
  justify-content: center;
}

.add-btn {
  cursor: pointer;
  display: flex;
  background-color: #202224;
  color: white;
  padding: 5px;
}

.add-text {
  font-size: 16px;
}
