.search-container {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  padding: 25px;
  position: relative;
  padding-bottom: 567px;
}

.search-form {
  display: flex;
  align-items: stretch;
  background-color: #f6f6f6;
  overflow: hidden;
}

.search-input-wrapper {
  display: flex;
  align-items: center;
  flex-grow: 1;
  padding-left: 12px;
}

.search-input {
  flex-grow: 1;
  border: none;
  background: transparent;
  padding: 12px 0;
  outline: none;
  width: 100%;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.375;
  padding-left: 0.5rem;
}

.search-button {
  background-color: transparent;
  border: none;
  padding: 0 20px;
  font-size: 16px;
  cursor: pointer;
  color: #141414;
  font-weight: 700;
}

.search-clear-button {
  background-color: transparent;
  border: none;
  padding: 0 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  color: #555;
}

.search-results-container {
  position: absolute;
  left: 25px;
  right: 25px;
  background: #f6f6f6;
  z-index: 10;
}

.search-results-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.search-result-item {
  border-bottom: 1px solid #e6e8ea;
}

.search-result-item:last-child {
  border-bottom: none;
}

.search-link {
  text-decoration: none;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.28571;
  color: #141414;
  display: block;
  padding: 12px 16px;
  text-align: left;
  transition: background-color 0.6s ease;
}

.search-link:hover {
  background: rgb(84, 86, 88);
  color: rgb(255, 255, 255);
  cursor: pointer;
}

.search-no-results {
  padding: 16px;
  margin: 0;
  color: #141414;
  font-size: 0.875rem;
}
