.observations-wrapper {
  width: 100%;
  background-color: #ffffff;
  padding: 16px;
  padding-top: 32px !important;
  padding-bottom: 32px !important;
}

.observations-container {
  max-width: 1200px;
  margin: 0 auto;
  padding-right: 8px;
  padding-left: 8px;
  display: flex;
  align-items: flex-start;
}

.observations-info {
  position: relative;
  padding-right: 20px;
  min-width: 200px;
  border-right: 2px solid #e6e8ea;
}

.observations-title {
  color: #141414;
  font-size: 24px;
  letter-spacing: normal;
  font-weight: 700;
  margin-bottom: 4px;
}

.observations-time {
  color: #545658;
  font-size: 0.875rem;
  line-height: 1.125rem;
  margin: 2px 0;
}

.observations-data {
  justify-content: start;
  gap: 5px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.observations-data p {
  display: flex;
  margin: 0;
  color: #545658;
  font-size: 14px;
  gap: 5px;
}

.observations-data strong {
  font-weight: bold;
  color: #141414;

}

.observations-data p:first-of-type {
  font-size: 28px;
  font-weight: 600;
  margin-right: 10px;
}

.weather-icon {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.observation-station {
  font-size: 14px;
  color: #545658;
}
