@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap");

.main {
  display: flex;
  width: 100%;
  background-color: #149edc;
  text-transform: uppercase;
  justify-content: space-between;
}

.wrapper {
  display: flex;
  align-items: center;
  gap: 20px;
}

.logo-weather {
  display: flex;
  gap: 8px;
}

.text-weather {
  color: #fff;
  font-weight: 700;
  font-family: "Inter", serif;
  font-size: 36px;
}

.rightSection {
  min-width: 100%;
}

.drop-menu {
}

.input-container {
  position: relative;
  display: flex;
  align-items: center;
}

.input-weather {
  display: block;
  width: 150%;
  height: 2.75rem;
  padding: 0 0.5rem;
  padding-right: 565px;
  color: #202224;
  background: #f6f6f6;
  border-radius: 0;
  border: solid 0.0625rem rgba(0, 0, 0, 0);
  outline: none;
  box-sizing: border-box;
}

.search-icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  text-decoration: none;
  cursor: pointer;
}

.dropdown-content {
  background-color: #000000;
  /* bc - fix */
  color: #545658;
  box-shadow: 0 0.125rem 0.9375rem rgba(0, 0, 0, 0.15);
  z-index: 1000;
}

/* .drop-inner {
  position: absolute;
  top: 0;
  z-index: 1;
} */

/* fix styles for dropdown menu */
