.leaflet-container {
  width: 100%;
  height: 450px;
  image-rendering: optimizeSpeed;
  transform: translateZ(0);
}

.leaflet-control-attribution {
  display: none !important;
}

.leaflet-control-zoom-in,
.leaflet-control-zoom-out {
  color: rgb(90, 90, 90) !important;
}
