.parallax-container {
  min-height: 500px;
  background-image: url("/parallaxIMG.png");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

@media (max-width: 768px) {
  .parallax-container {
    min-height: 300px;
    background-attachment: scroll;
  }
}

@media (max-width: 320px) {
  .parallax-container {
    min-height: 200px;
  }
}
